 <div class="page-header section-dark" style="background-image: url('assets/images/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-8 mx-auto text-center">
                    <img src="assets/images/logo.png" alt="">
                </div>
                <div class="col-xl-8 col-lg-12 ml-auto margin-top">
                    <h1 class="presentation-title mx-auto text-center">WEBBNET DIGITAL</h1>
                    <h2 class="presentation-subtitle mx-auto text-center">WEBBNET DIGITAL is a full-stack website
                        development
                        and digital marketing platform. We work on the
                        best creative platforms to produce high defination website layouts and creative logo to create a
                        buzz in your community.
                    </h2>
                </div>
                <div class="fog-low">
                    <img src="assets/images/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/images/fog-low.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/images/clouds.png'); "></div>
</div>
<div class="section section-about-us area">
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="title"><strong>Kolkata's Most <span style="color:#fff">Trendiest</span> Digital
                            Marketing Agency</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12 mx-auto text-center presentation-subtitle">
                    <p>Webbnet Digital is the most creative and trendiest digital marketing agency of Kolkata. We offer
                        some of the highest demanding motion
                        graphics logos, posters banners and all sorts of online promotion.
                    </p>

                    <p>Our team at Webbnet Digital is working constantly to produce some of the cutting edge technology
                        that results in smooth and responsive
                        website layouts. We choose a variety of colour depending on the mode of business. Help us create
                        your future.
                    </p>

                    <p>We are offering First Month Free Trial to all our clients. Come join us to create a unique
                        business and marketing strategy.

                    </p>
                </div>
                <div class="col-xl-4 col-lg-8 mx-auto text-center">
                    <img src="assets/images/seo_home.png" class="img-rounded img-responsive">
                </div>
            </div>
        </div>
    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="container-fluid parallax">
    <div class="d-flex justify-content-center">
        <h1 class="title"><strong><span style="color: #fff;">Our Services</span></strong></h1>
    </div>
    <div class="parallax-row row">
      <div class="parallax-cell col-sm-3">
        <div class="hovereffect">
          <img class="img-responsive" src="assets/images/web_dev_service.jpg" alt="" width="350" height="200">
          <div class="overlay">
            <h2>Website Developmant</h2>
            <a [routerLink]="['/services']" class="info" href="#">Know More</a>
          </div>
        </div>
      </div>
      <div class="parallax-cell col-sm-3">
        <div class="hovereffect">
          <img class="img-responsive" src="assets/images/digital_marketing_service.jpg" alt="" width="350" height="200">
          <div class="overlay">
            <h2>Digital Marketing</h2>
            <a [routerLink]="['/services']" class="info" href="#">Know More</a>
          </div>
        </div>
      </div>
      <div class="parallax-cell col-sm-3">
        <div class="hovereffect">
          <img class="img-responsive" src="assets/images/creative_logo_service.jpg" alt="" width="350" height="200">
          <div class="overlay">
            <h2>Creative Logo</h2>
            <a [routerLink]="['/services']" class="info" href="#">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="responsive-map-container height">
    <iframe width="600" height="450" id="gmap_canvas"
        src="https://maps.google.com/maps?q=6%2F16%20sahid%20nagar%20kolkaka%20700078&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div> -->

<div class="container-fluid">
<div class="row">
  <div class="col-md-12 px-3 order-2">
      <div class="row">
          <div class="col-md-8 p-0">
            <div class="responsive-map-container height">
              <iframe width="600" height="450" id="gmap_canvas"
                  src="https://maps.google.com/maps?q=6%2F16%20sahid%20nagar%20kolkaka%20700078&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
          </div>
          <div class="col-md-4 px-3 order-1" style="background-color: #de6b28">
              <h1 class="title mx-auto text-center map-margin"><strong><span class="align-middle" style="color: #233B66;">Locate Us</span></strong></h1>
          </div>
      </div>
  </div>
</div>
</div>


<!-- <div class="container-fluid">
  <div class="map-responsive">
 <iframe src="https://maps.google.com/maps?q=6%2F16%20sahid%20nagar%20kolkaka%20700078&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
</div> -->
<!-- Modal -->
 <!--  <button #myModal [hidden]="true" data-toggle="modal" data-target="#myModal">open modal</button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->

    
    <button #myModal [hidden]="true" class="btn btn-lg btn-outline-primary" (click)="openModal()">Launch demo modal</button>
    