<div class="section section-gold text-center" style="background-color: #233B66;">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <br><br><br><br>
              <h2 class="title"><span style="color: #de6b28; font-weight: normal">Why choose Webbnet Digital?</span></h2>
              <h5 class="description">Webbnet Digital is your trendiest digital marketing agency located in your hometown, Kolkata. Our expert team combines the essence of art and technology to produce creative high definition websites layouts. We work for small to large scale business helping them with genuine leads and better or reach. 

                Our development team works on the most updated platforms to make your website responsive and mobile-friendly. We also boost SEO ready contents so that your website gets more organic traffic than usual. 
                
                Our marketing team works effectively with analytics of your business, through which we choose your dedicated target audience. We analyze the data and design target specific social media marketing strategies and high demanding PPC program based on your business. In addition to that, we also provide full-stack SEO ready blogs, interactive social media engagements, banners and brand awareness programs.
                
                Our Creative team integrates motion graphics in your website creating a buzz in the first impression. Interactive layouts gather leads in the first impression, and this is where we play. Check out our creative section to see how we improvise art in creating brochures and colour-coded graphics in website layouts.</h5>
              <br>
          </div>
      </div>
      <br/><br/>
<!--       <div class="row">
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-album-2"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Web Development</h4>
                      <br>
                      <p class="description">Whether the goal is to expand market share, increase employee productivity or deliver a better customer experience, we design and develop websites with the outcome in mind. We use clean and optimized code to make websites load faster</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-shop"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Digital Marketing</h4>
                      <p>Webbnet has been on the cutting edge of all social platforms, helping brands to find and engage their potential customers in order to get results for their business. Our websites coprise features that help them to get higher SEO ranking</p>
                      <br>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-circle-10"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Public Relations</h4>
                      <p>Webbnet has the technical knowledge and the professional relationships to improve the online visibility of your company through online PR marketing, utilize our relationships with media outlets to build awareness and reach your target audience.</p>
                      <br>
                  </div>
              </div>
          </div>
          <br>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-email-85"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Email Marketing</h4>
                      <p>Webbnet has a team of email marketing experts that are ready to help you on your email marketing strategy that will help you increase your conversion rates. Our team has vast experience in producing superior marketing emails.</p>
                      <br>
                  </div>
              </div>
          </div>
      </div> -->

  </div>
</div>

<div class="section section-dark text-center" style="background-color: #de6b28;">
  <div class="container">
      <h2 class="title">Let's talk about us</h2>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="https://www.linkedin.com/in/tridib-chatterjee-70a7a3112/r" target="_blank"><img src="./assets/images/owner2.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="https://www.linkedin.com/in/tridib-chatterjee-70a7a3112/" target="_blank">
                          <div class="author">
                              <h4 class="card-title">Tridib Chatterjee</h4>
                              <h6 class="card-category">Developer</h6>
                          </div>
                      </a>
                      <p class="card-description text-center"><span style="color: #233B66; font-weight: bold;">
                      Tridib is a delelopment expert specialised in full stack technology and advanced server maintainance. He works tirelessly with his team to 
                      hardcore and deploy responsive and attractive websites to the clients accross globe.</span>
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="https://www.linkedin.com/in/tridib-chatterjee-70a7a3112/" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-6">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="https://www.linkedin.com/in/shuvankar-mallick-085151197" target="_blank"><img src="./assets/images/owner1.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="https://www.linkedin.com/in/shuvankar-mallick-085151197" target="_blank">
                          <div class="author">
                              <h4 class="card-title">Shuvankar Mallick</h4>
                              <h6 class="card-category">Founder</h6>
                          </div>
                      </a>
                      <p class="card-description text-center"><span style="color: #233B66; font-weight: bold;">
                      Shuvankar is a marketing professional who is expert in social behaviour of customers and Social Media Marketing. He works effortlessly
                      for struggling businesses accross the globe, helping them gain customers and sales.</span>
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="https://www.linkedin.com/in/shuvankar-mallick-085151197" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>