<div class="section section-about-us parallax">
  <div class="content-center">
    <div class="container-fluid">
      <section class="pricing py-5">
        <div class="container">
          <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                  <h6 class="card-price text-center">₹0<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul" style="margin-bottom: 59.5%;">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>1 free Wix/WordPress Website</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>SEO ready content</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>3 Social Media handler</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>30-day organic social promotion</li>
                    <li><span class="fa-li"><i class="fas fa-times"></i></span>1 Business Logo and 1 Favicon</li>
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Know More</a>
                </div>
              </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <span class="ribbon1">
                    <span style="color:aliceblue">Best Value</span>
                  </span>
                  <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                  <h6 class="card-price text-center">₹25000<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul" style="margin-bottom: 29%;">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 Premium Website</strong></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>1 domain with hosting</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Social handler + Professional Content</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Paid Social/Search Engine Advertisement</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Analytics and Weekly growth report</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Grade Logo Design</li>
                  </ul>
                  <a [routerLink]="['/contact']" class="btn btn-block btn-primary text-uppercase">Know More</a>
                </div>
              </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                  <h6 class="card-price text-center">₹70000<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 Professional Website</strong></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>1 domain with hostings</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Social handler + Professional Content</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Paid Social/Search Engine Advertisement</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Analytics and Weekly growth report</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Grade Logo Design</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Complete ROI Service</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free
                      Subdomains</li>
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>