<div class="section section-gold text-center parallax">
  <div class="container">
    <br>
    <h2 class="presentation-subtitle text-center"><span style="color: #de6b28; font-weight: bold; font-size: 200%;">Our Services</span></h2>
    <br><br><br>
  <div class="row">
      <div class="col-md-12 card" style="background-color: #a9a9a9;">
          <div class="row">
              <div class="col-md-4 p-0">
                  <a [routerLink]="['/pricing']">
                    <img src="assets/images/webbnet_seo_service.png" class="card-img-top card-img-size" alt="blog1">
                  </a>
              </div>
              <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                      <h4 class="card-title"><span style="font-weight: bold;">Search Engine Optimization(SEO)</span></h4>
                      <p class="card-text">SEO services
                        we provided professional-grade search engine optimization for your website and its contents. Our SEO experts analyze the key contents of your business/website and optimise them accordingly.
                         Get a detailed SEO quotation absolutely free from our end.</p>
                      <br>
                      <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 card" style="background-color: #a9a9a9;">
        <div class="row">
            <div class="col-md-4 p-0">
              <a [routerLink]="['/pricing']">
                  <img src="assets/images/webbnet_smo_service.png" class="card-img-top card-img-size" alt="blog1">
                </a>
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block px-3">
                    <h4 class="card-title">Social Media Optimzation(SMO)</h4>
                    <p class="card-text">SMO Services
                      Our expert team is 24*7 active on all busiest social media platforms constantly keeping tabs on recent trends so that we can deliver the trendiest promotional content for our clients.
                       Get a detailed SMO quotation absolutely free from our end.</p>
                    <br>
                    <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #a9a9a9;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_smm_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Social Media Marketing(SMM) / Paid Social</h4>
                  <p class="card-text">Our social media handlers constantly work with the marketing team to provide improved social media marketing strategies for our clients. We develop ideas, analyze outcomes and implant them accordingly.
                     Get a detailed SMM quotation absolutely free from our end.
                  </p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #a9a9a9;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_service_ppc.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Pay Per Click Management(PPC)</h4>
                  <p class="card-text">Whether it's about driving traffic to your website or generating potential leads for your business, our expert team creates the best pay per click strategies to enhance boost in your digital presence.
                     Get a detailed PPC quotation absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #a9a9a9;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_roi_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Return of Invesment(ROI Strategies)</h4>
                  <p class="card-text">Digital promotions generate huge leads/traffic with minimal costs and we provide an additional hefty return of investment strategies to help our clients get a roadmap to their promotions. Get a detailed ROI quotation absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #a9a9a9;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_analytics_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Business Analytics</h4>
                  <p class="card-text">Our expert team analyzes a 360° overview of your business and provides detailed analytics of your digital campaign. We observe customer interactions, lead captures and call to action activities and present you with a favourable social media advertisement campaign.
                     Get a detailed analytics report absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #c0c0c0;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_webdev_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Website Development(informative/e-commerce/product catalogue)</h4>
                  <p class="card-text">Our developer team constantly works on updated platforms to bring forward responsive and creative website layouts with interactive functionalities. We form a combined strategy working with social and marketing team to create a custom made online store specifically for your business.
                     Our UI expert categorises your product with a bold touch of aesthetics and creativity.  Click on the learn more button to get a complete 3-page website absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>  
<div class="row">
  <div class="col-md-12 card" style="background-color: #c0c0c0;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_brochure_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Brochure Design</h4>
                  <h5>Bifold - Trifold - Leaflet</h5>
                  <p class="card-text">Our creative team designs professional brochures, correctly detailed about your business and its services. We have illustrated Bi-fold, Tri-fold and leaflet designs for various clients creating an extensive awareness program for the respected companies.
                     Click on the learn more button to get a brochure layout absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #c0c0c0;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_branding_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Branding / Brand Awareness</h4>
                  <p class="card-text">The social team at Webbnet Digital performs minutely in finding the key aspects to showcase your business accurately to your existing customers. bringing out more conversion rates from them. Our detailed campaign strategies helped many clients to set up a perfect awareness program for your brands.
                     Click on the learn more button to get brand awareness strategy absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #d3d3d3;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_logodesign_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Business Logo Design</h4>
                  <p class="card-text">Our creative team jumps in to design a business logo that precisely demonstrates your dignity and authenticity in business. Let us help you in creating your unique presence in the market by creating a stunning logo for your business. Click on the learn more button to get a logo absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #d3d3d3;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_article_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Article Writing / Copy Writing</h4>
                  <p class="card-text">Skilled writers at Webbnet Digital are in constant motion to research and implant ideas into your blogs or websites. We are working with various clients across the globe and delivering them optimum satisfaction. Click on the learn more button to get sample article absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card" style="background-color: #d3d3d3;">
      <div class="row">
          <div class="col-md-4 p-0">
            <a [routerLink]="['/pricing']">
                <img src="assets/images/webbnet_contentmarketing_service.png" class="card-img-top card-img-size" alt="blog1">
              </a>
          </div>
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                  <h4 class="card-title">Content Marketing</h4>
                  <p class="card-text">Our content marketing team will help you boost traffic on your website. Be it social platforms, search engines or email marketing, we generate traffic from various other sources and redirect them to your website. We create a strategy for your business, write premium contents, revise them accordingly and post them on your desired platforms.
                     Click on the learn more button to get a sample content marketing strategy absolutely free from our end.</p>
                  <br>
                  <a [routerLink]="['/pricing']" class="mt-auto btn btn-primary">Know More</a>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>
</div>