  <div class="dash-header">
    <div class="dash-title">
        <h1>{{pageTitle}}</h1>
    </div>
  </div>
  <div class="blog-form">
    <form [formGroup]="createBlogForm" (ngSubmit)="createBlog()" enctype="multipart/form-data" accept="image/*">
      <div class="form-group form-row col-md-9">
        <label>Blog Title</label>
        <input type="text" formControlName="blogTitle" class="form-control" placeholder="Enter blog Title">
      </div>
      <div class="form-group form-row col-md-9" action="/uploads" method="post" >
        <label>Upload Image</label> 
          <input type="file" name="imagePath" (change)="onSelectedFile($event)" />
      </div>
      <div class="form-group col-md-9">
        <label>Description</label>
        <input type="text" formControlName="blogDescription" class="form-control" placeholder="Enter Description">
      </div>

      <div class="form-group col-md-9">
        <label>Enter the blog body</label>
        <textarea formControlName="blogBodyHtml" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group col-md-9">
        <label>Author</label>
        <input type="text" formControlName="blogAuthor" class="form-control" placeholder="Enter Author name">
      </div>
      <div class="form-group col-md-9">
        <label>Category</label>
        <select formControlName="blogCategory" class="form-control" id="category">
              <option *ngFor="let category of categories">{{category.categoryName}}</option>
            </select>
      </div>


      <button type="submit" class="btn btn-success" [disabled]="!createBlogForm.valid">Post the blog</button>

    </form>
  </div> 