<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand"><img src="/assets/images/ace-logo3.png"></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/home']" routerLinkActive="acitve" class="nav-link"><i class="nc-icon nc-bank"></i>Home</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="acitve" class="nav-link"><i class="nc-icon nc-alert-circle-i"></i>About</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/services" routerLinkActive="acitve" class="nav-link"><i class="nc-icon nc-delivery-fast"></i>Services</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="acitve" class="nav-link"><i class="nc-icon nc-mobile"></i>Contact</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/blogs" routerLinkActive="acitve" class="nav-link"><i class="nc-icon nc-single-copy-04"></i>Blogs</a>
                  </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                        <p class="d-lg-none">Linkedin</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
